@media screen and (min-width: 75em) {

    .larguraMaxima {
        max-width:93.75em;
    }

    .descubraBox {
        background: linear-gradient(to top, var( --primaryColor) 5%, transparent), url(images/fundo.jpg) no-repeat  top;
        background-size: cover;
        height: 50em;
        padding-bottom: 10em;
    }

    .cardsAcomodacao {
        flex-wrap: nowrap;
    }

    .containerCards {
       flex-direction: row;
    }

    .cardsBox {
        flex-basis: calc(50% - 2.5em);
        flex-grow: 1;
    }
}