@media screen and (min-width:46.4375em) {
    
   
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navegacao {
        background-color: initial;
    }

    .navegacao li {
        display: inline-block;
    }

    .navegacao a {
        color: var(--primaryColor);
        transition: all .5s;
    }

    .navegacao a:hover {
        background-color: color-mix(in srgb, var(--primaryColor), white 80%);
        border-radius: 5px;
    }

    .descubraBox {
        background-color: var(--primaryColor);
        color: white;
        display: block;
    }

    .iconHeader {
        display: contents;
    }

    .iconHeader a {
        color: white;
        text-decoration: none;
    }

    .iconHeader i:hover {
        transform: translateX(5px);
        transition:  transform .5s ease-in-out;
    }

    .descubraBox h2 {
        padding: 1em;
        color: white;
    }

    .descubraBox p {
        line-height: 1.5em;
        margin-bottom: 2rem;
        color: white;
    }

    .cardsAcomodacao {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cardsAcomodacaoBox {
        flex-basis: calc(50% - 2em);
        flex-grow: 1;
    }

    .containerCards {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .cardsBox {
        display: flex;
        gap: 1em;
    }

} 